/*Estilo de la imagen de la tarjeta*/
.containerImage {
    width: 100%;
    overflow: hidden;
    border-radius: var(--button-primary-border-radius);
    background-color: #ffffff;
    height: 65%;
}

.containerImage:hover {
    opacity: 0.75;
}

@media (min-width: 640px) {
    .containerImage {
        height: 75%;
    }
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--button-primary-border-radius);
}

/*Estilos de los textos de la tarjeta*/
.containerText {
    margin-top: 16px;
}

.containerTitle {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.svgStart {
    display: flex;
    align-items: center;
    gap: 4px;
}

.parrafoStart {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-black);
}

.detalle {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-light);
    color: var(--text-color-gray);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detallePrecio {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}