/*Estilos de la seccion de articleList del home*/
.articleList {
    display: grid;
    height: 100%;
    place-items: center;
    background-color: var(--background-color-articleList);
    padding: 96px 16px;
    gap: 30px;
    overflow-x: scroll;
    max-height: 100vh;
}

@media (min-width: 640px) {
    .articleList {
        padding: 128px 24px;
    }
}

@media (min-width: 1024px) {
    .articleList {
        padding-left: 64px;
        padding-right: 64px;
    }
}