/*Estilos menu de login y registro*/
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/*Estilos de los botones del header*/
.buttons {
    background: var(--button-primary-background);
    border: var(--button-primary-border);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-medium);
    color: var(--text-color-black);
    border-radius: var(--button-primary-border-radius);
    padding: var(--button-primary-padding);
    text-decoration: none;
}