.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 96px 24px;
    border: 1px solid var(--border-color-gray);
}

@media (min-width: 1024px) {
    .logo {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 640px) { 
    .login_title {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 24rem; /* 384px */
    }
}

.login_img {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: auto;
}

.login_subtitle {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: var(--font-weight-semibold);
    margin-top: 40px;
    color: rgb(17 24 39);
}

@media (min-width: 640px) { 
    .containerForm {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 24rem; /* 384px */
    }
}

.input_form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input_label {
    display: block;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-medium);
    color: rgb(17 24 39);
}

.div {
    margin-top: 0.5rem; /* 8px */
}

.div_password {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    display: block;
    width: 100%;
    border-radius: 0.375rem; /* 6px */
    border: 1px solid #D2D5DC;
    padding: 7px;
    color: rgb(17 24 39);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

.input::placeholder{
    color: rgb(156 163 175);
}

.button {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 0.375rem; /* 6px */
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-semibold);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid #D2D5DC;
    padding: 8px 12px;
}