/*Estilos del boton de busqueda*/
.searchButton {
    min-width: 90vw;
}

@media (min-width: 640px) {
    .searchButton {
        min-width: 33rem;
    }
}

.searchButton__container {
    position: relative;
}

/*Estilos del input*/
.searchButton__input {
    display: block;
    width: 100%;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-light);
    color: var(--text-color-gray);
    border-radius: 9999px;
    background-color: #ffffff;
    padding: 13px;
    padding-inline-start: 40px;
    border: 1px solid #dddddd;
    font-family: 'Nunito Sans', 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.searchButton__input:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.searchButton__input:focus {
    background-color: #ffffff;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/*Estilos del boton de lupa*/
.searchButton__buttton {
    color: #ffffff;
    position: absolute;
    background-color: var(--border-color-gray);
    border: none;
    padding: 8px;
    bottom: 8px;
    inset-inline-end: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}