/*Estilos del texto e imagen de la categoria*/
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    max-width: 92vw;
    gap: 30px;
    align-items: center;
}

.carousel__category {
    flex: 0 0 100px;
    scroll-snap-align: start;
    text-align: center;
    padding: 10px;
}


.carousel__carouselItem--categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.carousel__carouselItem--categoria:hover {
    opacity: 1;
}

.carousel__carouselItem--categoriaImg {
    width: 30px;
    height: 30px;
}

.carousel__carouselItem--categoriaTexto {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-light);
    text-align: center;
}


/*Estilos boton flecha de las categorias*/
.carouselButton {
    background-color: #ffffff;
    border-radius: 9999px;
    padding: 8px;
    border: var(--button-primary-border);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}