/*Estilos del detalle del producto*/
.article {
    background-color: var(--background-color-main);
    padding: 96px 16px;
}

@media (min-width: 640px) {
    .article {
        padding: 128px 24px;
    }
}

@media (min-width: 1024px) {
    .article {
        padding-left: 64px;
        padding-right: 64px;
    }
}

/*Estilos del boton atras*/
.details__buttons {
    background: var(--button-primary-background);
    border: var(--button-primary-border);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-light);
    color: var(--text-color-black);
    border-radius: var(--button-primary-border-radius);
    padding: var(--button-primary-padding);
    text-decoration: none;
    display: flex;
    align-items: center;
}