/*Estilos del header*/
.header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 40;
    background-color: var(--background-color-header);
    border-bottom: 1px solid var(--border-color-gray);
    padding: 16px;
}

@media (min-width: 640px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1024px) {
    .header {
        padding-left: 64px;
        padding-right: 64px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Estilos menu de logo y titulo*/
.logo {
    display: flex;
}

@media (min-width: 1024px) {
    .logo {
        flex: 1 1 0%;
    }
}

.enlace {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-blue);
    text-decoration: none;
}

.title {
    display: flex;
    gap: 6px;
    color: var(--text-color-blue);
    text-decoration: none;
}

.img {
    height: 32px;
    width: auto;
}

/*Estilos menu de navegacion*/
.navigation {
    display: none;
}

@media (min-width: 1024px) {
    .navigation {
        display: flex;
        gap: 48px;
    }
}

.navigation__links {
    text-decoration: none;
}

.navigation__links a{
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-light);
    color: var(--text-color-gray);
    text-decoration: none;
}

/*Estilos menu de login y registro*/
.header__auth {
    display: none;
    gap: 24px;
}

@media (min-width: 1024px) {
    .header__auth {
        display: flex;
        flex: 1 1 0%;
        justify-content: flex-end;
        align-items: center;
    }
}

/*Estilos del menu mobile*/
.menuMobile {
    display: flex;
}

@media (min-width: 1024px) {
    .menuMobile {
        display: none;
    }
}

.menuMobile__button {
    padding: 9px;
    color: var(--text-color-black);
    border: none;
    border-radius: var(--button-primary-border-radius);
    background-color: #ffffff;
}

.menuMobile__button:hover {
    background-color: var(--border-color-gray);
}

.menuMobile__svg {
    height: 24px;
    width: 24px;
}