/*Estilos de la seccion de main del home*/
.main {
    display: grid;
    height: 100%;
    place-items: center;
    background-color: var(--background-color-main);
    padding: 96px 16px;
    gap: 40px;
}

@media (min-width: 640px) {
    .main {
        padding-top: 128px;
        padding-bottom: 128px;
    }
}

@media (min-width: 1024px) {
    .main {
        padding-left: 64px;
        padding-right: 64px;
    }
}

/*Estilos del contenedor del boton de busqueda*/
.main__searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilos del contenedor de cards*/
.main__sectionCard {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 50px;
}